.about-container {
  
 background-color:  #F5F5DC ;
  
    align-items: center; /* Center items vertically */
}

.about-pic {
    width: 20%;
   border-radius: 30px;
   margin-left: 30px
}

.about-container {
    display: flex;
    align-items: center; /* Center items vertically */
    width: 100%;
    color:#2F4F4F;
}

/* .about-container .about-info {
} */



@media (max-width: 768px) {
    .about-container {
        flex-direction: column; /* Stack children vertically */
        text-align: center; /* Center text alignment */
    }

    .about-pic {
        width: 50%; /* Adjust width for smaller screens */
        margin-right: 0; /* Remove margin-right as it's no longer needed */
        margin-bottom: 20px; /* Add margin-bottom to space out from text */
    }

    .about-info {
        flex-direction: column; /* Stack text and button vertically */
        align-items: center; /* Center items horizontally */
    }

    .about-info {
        margin-left: 0; /* Remove left margin for better alignment */
    }
}
